# jangan kirim folder besar/turunan build ke Docker context
/vendor
/node_modules
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

# artefak, env, vcs
/.git
/.gitignore
/.idea
/.vscode
/.DS_Store

# cache frontend
/.turbo
/.next
/.nuxt
/dist
/build

# jangan blokir composer.lock! biar bisa ikut ke build kalau ada
# (biarkan default; TIDAK menambahkan composer.lock ke ignore)
